#React
frontend/node_modules

#Ngrock
servidor-ngrok

#Cache python
backend/_pycache_

#documentacion
documentacion

#UI compilada
backend/templates

#Cache python
**/__pycache__/

#Data base
backend/data/database.db

#Ngrok
servidor-ngrok

#virtual env
backend/venv