/* App.css */
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  border-radius: 20%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.messages {
  width: 100%;
  overflow-y: auto;
  border: 1px solid #ffffff;
  margin-bottom: 10px;
  padding: 10px;
}

.message {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.message.user {
  align-self: flex-end;
  background-color: rgb(231, 221, 223);
}

.divider {
  width: 100%;
  display: flex; /* Usar flex para el layout del input y el button */
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 10px;
  gap: 10px; /* Espacio entre el input y el button */
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  flex: 1; /* Permite que el input ocupe todo el espacio disponible */
  margin-bottom: 0; /* Alinear con el button */
  border: 1px solid #ccc; /* Asegura un borde visible */
  border-radius: 5px; /* Bordes redondeados */
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border: none; /* Sin borde para un aspecto más limpio */
  background-color: #f94f00; /* Color de fondo */
  color: white; /* Color del texto */
  border-radius: 5px; /* Bordes redondeados */
}
