html,
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Asegura que el root ocupe todo el ancho */
}